html[data-color-scheme='dark'] body {
  background-color: #1e1e1e;
}
html[data-color-scheme='dark'] body hr {
  background-color: #3c3c3c;
}
html[data-color-scheme='dark'] body .navbar {
  background-color: #3c3c3c;
  color: #d4d4d4;
}
html[data-color-scheme='dark'] body .navbar .navbar-menu {
  background-color: transparent !important;
}
html[data-color-scheme='dark'] body .navbar .navbar-menu .navbar-item {
  color: inherit;
}
html[data-color-scheme='dark'] body .navbar .navbar-menu .navbar-item:hover,
html[data-color-scheme='dark'] body .navbar .navbar-menu .navbar-item:focus {
  background-color: #37373d;
  color: #007acc;
}
html[data-color-scheme='dark'] body .navbar .navbar-menu .navbar-item.is-active {
  color: #007acc;
}
html[data-color-scheme='dark'] body .navbar .navbar-menu .navbar-item.is-active:hover {
  background-color: transparent;
}
html[data-color-scheme='dark'] body .navbar-main {
  box-shadow: none;
}
html[data-color-scheme='dark'] body .card {
  background-color: transparent;
  color: #d4d4d4;
}
html[data-color-scheme='dark'] body .column-left::before {
  border-right: 1px solid #3c3c3c;
}
html[data-color-scheme='dark'] body .title {
  color: #fff;
}
html[data-color-scheme='dark'] body .menu-list a {
  color: #d4d4d4;
}
html[data-color-scheme='dark'] body .menu-list a.is-active {
  background-color: #37373d;
}
html[data-color-scheme='dark'] body .menu-list a:hover {
  background-color: #37373d;
}
html[data-color-scheme='dark'] body .tag:not(body) {
  background-color: transparent;
  color: #bbb;
  border: 1px solid rgba(55,55,61,0.6);
}
html[data-color-scheme='dark'] body .tag:not(body).is-grey-lightest {
  background-color: #37373d;
}
html[data-color-scheme='dark'] body .tags .tag:first-child {
  background-color: transparent;
  color: #bbb;
  border: 1px solid rgba(55,55,61,0.6);
}
html[data-color-scheme='dark'] body .tags .tag:last-child {
  background-color: #37373d;
}
html[data-color-scheme='dark'] body .footer {
  background-color: #333;
  color: #ccc;
}
html[data-color-scheme='dark'] body #back-to-top {
  background-color: rgba(55,55,61,0.6);
}
html[data-color-scheme='dark'] body .column-main .card {
  border-bottom: 1px solid #3c3c3c;
}
html[data-color-scheme='dark'] body .content h1,
html[data-color-scheme='dark'] body .content h2,
html[data-color-scheme='dark'] body .content h3,
html[data-color-scheme='dark'] body .content h4,
html[data-color-scheme='dark'] body .content h5,
html[data-color-scheme='dark'] body .content h6 {
  color: #d4d4d4;
}
html[data-color-scheme='dark'] body a {
  color: #007acc;
}
html[data-color-scheme='dark'] body a:hover {
  color: #569cd6;
}
html[data-color-scheme='dark'] body strong {
  color: #16825d;
}
html[data-color-scheme='dark'] body .tab-conversation.active>a {
  color: #fff;
}
html[data-color-scheme='dark'] body .content blockquote {
  color: #dcdcdc;
  background-color: #252526;
}
html[data-color-scheme='dark'] body .pagination .pagination-link,
html[data-color-scheme='dark'] body .pagination .pagination-previous,
html[data-color-scheme='dark'] body .pagination .pagination-next,
html[data-color-scheme='dark'] body .pagination a {
  background-color: transparent;
  color: #bbb;
  border: 1px solid rgba(55,55,61,0.6);
}
html[data-color-scheme='dark'] body .pagination .pagination-link.is-current,
html[data-color-scheme='dark'] body .pagination .pagination-previous.is-current,
html[data-color-scheme='dark'] body .pagination .pagination-next.is-current,
html[data-color-scheme='dark'] body .pagination a.is-current {
  color: #369432;
  border: 1px solid rgba(55,55,61,0.6);
}
html[data-color-scheme='dark'] body .pagination .pagination-link.is-current:hover,
html[data-color-scheme='dark'] body .pagination .pagination-previous.is-current:hover,
html[data-color-scheme='dark'] body .pagination .pagination-next.is-current:hover,
html[data-color-scheme='dark'] body .pagination a.is-current:hover {
  color: #369432 !important;
}
html[data-color-scheme='dark'] body .pagination-list li > a,
html[data-color-scheme='dark'] body .pagination .pagination-link,
html[data-color-scheme='dark'] body .pagination .pagination-previous,
html[data-color-scheme='dark'] body .pagination .pagination-next {
  box-shadow: none !important;
}
html[data-color-scheme='dark'] body code {
  color: #d16969;
}
html[data-color-scheme='dark'] body article.article .content img {
  border: 1px solid #37373d;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-body {
  background-color: #252526 !important;
  border-top: none;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-header {
  background-color: #707070;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-input {
  background-color: inherit !important;
  color: #fff;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-close {
  color: #f44747;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-close:hover {
  background-color: #7b7b7b;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-result-item:not(.disabled):not(.active):not(:active):hover {
  background-color: #37373d;
}
html[data-color-scheme='dark'] body .searchbox .searchbox-result-item em {
  background-color: #663719;
  color: #fff;
  padding: 5px 3px;
  box-sizing: content-box;
}
html[data-color-scheme='dark'] body .searchbox a {
  color: #fff;
}
html[data-color-scheme='dark'] body .breadcrumb li.is-active a {
  color: #d4d4d4;
}
