body.dark {
  background-color: #1e1e1e;
}
body.dark .navbar {
  background-color: #3c3c3c;
  color: #d4d4d4;
}
body.dark .navbar .navbar-menu {
  background-color: transparent !important;
}
body.dark .navbar .navbar-menu .navbar-item {
  color: inherit;
}
body.dark .navbar .navbar-menu .navbar-item:hover {
  background-color: #37373d;
  color: #007acc;
}
body.dark .navbar .navbar-menu .navbar-item.is-active {
  color: #007acc;
}
body.dark .navbar .navbar-menu .navbar-item.is-active:hover {
  background-color: transparent;
}
body.dark .navbar-main {
  box-shadow: none;
}
body.dark .card {
  background-color: transparent;
  color: #d4d4d4;
}
body.dark .column-left::before {
  border-right: 1px solid #3c3c3c;
}
body.dark .title {
  color: #fff;
}
body.dark .menu-list a {
  color: #d4d4d4;
}
body.dark .menu-list a.is-active {
  background-color: #37373d;
}
body.dark .menu-list a:hover {
  background-color: #37373d;
}
body.dark .tag:not(body) {
  background-color: transparent;
  color: #bbb;
  border: 1px solid rgba(55,55,61,0.6);
}
body.dark .tag:not(body).is-grey-lightest {
  background-color: #37373d;
}
body.dark .footer {
  background-color: #333;
  color: #ccc;
}
body.dark #back-to-top {
  background-color: rgba(55,55,61,0.6);
}
body.dark .column-main .card {
  border-bottom: 1px solid #3c3c3c;
}
body.dark .content h1,
body.dark .content h2,
body.dark .content h3,
body.dark .content h4,
body.dark .content h5,
body.dark .content h6 {
  color: #d4d4d4;
}
body.dark a {
  color: #007acc;
}
body.dark a:hover {
  color: #569cd6;
}
body.dark strong {
  color: #16825d;
}
body.dark .tab-conversation.active>a {
  color: #fff;
}
body.dark .content blockquote {
  color: #dcdcdc;
  background-color: #252526;
}
body.dark .pagination .pagination-link,
body.dark .pagination .pagination-previous,
body.dark .pagination .pagination-next,
body.dark .pagination a {
  background-color: transparent;
  color: #bbb;
  border: 1px solid rgba(55,55,61,0.6);
}
body.dark .pagination .pagination-link.is-current,
body.dark .pagination .pagination-previous.is-current,
body.dark .pagination .pagination-next.is-current,
body.dark .pagination a.is-current {
  color: #369432;
  border: 1px solid rgba(55,55,61,0.6);
}
body.dark .pagination .pagination-link.is-current:hover,
body.dark .pagination .pagination-previous.is-current:hover,
body.dark .pagination .pagination-next.is-current:hover,
body.dark .pagination a.is-current:hover {
  color: #369432 !important;
}
body.dark .pagination-list li > a,
body.dark .pagination .pagination-link,
body.dark .pagination .pagination-previous,
body.dark .pagination .pagination-next {
  box-shadow: none !important;
}
body.dark code {
  color: #d16969;
}
body.dark article.article .content img {
  border: 1px solid #37373d;
}
body.dark .searchbox .searchbox-body {
  background-color: #252526 !important;
  border-top: none;
}
body.dark .searchbox .searchbox-header {
  background-color: #707070;
}
body.dark .searchbox .searchbox-input {
  background-color: inherit !important;
  color: #fff;
}
body.dark .searchbox .searchbox-close {
  color: #f44747;
}
body.dark .searchbox .searchbox-close:hover {
  background-color: #7b7b7b;
}
body.dark .searchbox .searchbox-result-item:not(.disabled):not(.active):not(:active):hover {
  background-color: #37373d;
}
body.dark .searchbox .searchbox-result-item em {
  background-color: #663719;
  color: #fff;
  padding: 5px 3px;
  box-sizing: content-box;
}
body.dark .searchbox a {
  color: #fff;
}
body.dark .breadcrumb li.is-active a {
  color: #d4d4d4;
}
